################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bin/x86/Debug
/Common/bin
/Common/obj
/CommonData/bin
/CommonData/obj
/packages
/ServerData/bin
/ServerData/obj
/ShopBrowser/bin/x86/测试
/ShopBrowser/obj
