<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="ShopeeChat.Properties.Settings.ConnectionString" connectionString="Data Source=47.94.102.212;Persist Security Info=True;User ID=shopeechat;Password=shopeechat123#!@QWEEQW"
        providerName="System.Data.SqlClient" />
    <add name="ShopeeChat.Properties.Settings.shoppechatConnectionString"
        connectionString="Data Source=47.94.102.212;Initial Catalog=shoppechat;Persist Security Info=True;User ID=shopeechat;Password=shopeechat123#!@QWEEQW"
        providerName="System.Data.SqlClient" />
    <add name="ShopeeChat.Properties.Settings.LocalDBConnectionString"
        connectionString="Data Source=F:\ShopeeChat\GitCode\Database\localdata.db"
        providerName="Devart.Data.SQLite" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
